*.o
*.os
plugin_template/bin/*
.sconsign.dblite
*Zone.Identifier
*.sconsign.dblite
*.dblite
*.obj
git-filter-repo
/headers/*.h
/headers/*.cs
/headers/*.hpp
/libs/**/*
*.lib
*.exp
*.idx
*.so*
*.dll
src/gen/
compile_commands.json
**/__pycache__/
